/*Selector universarl*/
* {
    margin: 0px;
    padding: 0px;
}

/*jerarquia de cabecerar*/
h1{
    font: bold 30px verdana, sans-serif;
}
h2{
    font: bold 20px verdana, sans-serif;
}
h3{
    font: bold 18px verdana, sans-serif;
}
h4{
    font: bold 14px verdana, sans-serif;
}
h5{
    font: bold 12px verdana, sans-serif;
}
h6{
    font: bold 10px verdana, sans-serif;
}

/*Formato de elementos html 4*/
header, section, footer, aside, nav, article, figure, figcaption,hgroup{
    display: block;
}
body{
    text-align: center;
}
/*diseño template*/
#divGeneral{
    width: 980px;
    margin: 15px;
    text-align: left;
}

#cabecera{
    background: rgb(3, 117, 3);
    padding: 20px;
    color: white;
}

#menu{
    background: orangered;
    padding: 5px 15px;

}

#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px sans-serif;
}

#seccionprincipal{
float: left;
width: 650px;
margin: 20px;
}

#sidebar{
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background: rgb(89,206,229);
}

#footer{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid silver;
}