.articulo{
    background: silver;
    border: 1px solid grey;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 20px;
}

article footer{
    text-align: right;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

figcaption{
    font: italic 8px sans-serif;
}

div{
    width: 200px;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}

#imagen{
    width: 50%;
}
#imagen2{
    width: 30%;
}
#imagenmusical{
    width: 40%;
}

#p2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}
